.active{
 margin: 0;
 height: 100;
 background-image: url(bkg.jpg);
 background-size:1500px;
}

ul{
 list-style-type: none;
 background-color: #f5d5f4;
 overflow: hidden;
}
ul li{
 float: left;
 text-align: center;
}
ul li a{
 text-decoration: none;
 display: block;
 width: 75px;
 padding: 10px 10px;
 color: #fa19bd;
}
ul li a:hover{
 color: #fa0276;
}

.about {
 background-color: #ffc2ef;
}

.about a {
    color: #9c682d;
}

.activeLi{
 font-weight: bold;
 border-bottom: solid 2px #fa0276 ;
}

.title {
    color: #9c682d;
    font-size: 40px;
}

.subtitle {
    color: #9c682d;
    font-size: 26px;
}

.text {
    color: #9c682d;
    font-size: 35px;
    width: 80%;
}


.menu img {
    width: 200px;
    height: auto;
}

.menu title {
    font-weight: bold;
    font-size: 20px;
    color
}

.menu {
 background-color: #ffc2ef;
}

.menu a {
    color:#9c682d;
}

.minis {
    background-color: #d9b08c;
    margin: 0;
    padding: 0;
}

.minis a {
    color: #9c682d;
}

.description { 
  color: #9c682d;
}

.Filled a {
    color: #9c682d;
}

.Frosted a {
    color: #9c682d;
}

.table {
    padding: 40px 0;
}


.img {
    width: 250px;
}

.flavor {
    color: #9c682d;
    font-size: 18px;
    font-weight: bold;
}