.active{
	margin: 0;
	height: 100;
	background-image: url(bkg.jpg);
	background-size:1500px;
}

ul{
	list-style-type: none;
	background-color: #f5d5f4;
	overflow: hidden;
}
ul li{
	float: left;
	text-align: center;
}
ul li a{
	text-decoration: none;
	display: block;
	width: 75px;
	padding: 10px 10px;
	color: #fa19bd;
}
ul li a:hover{
	background-color: #48eaf7;
	color: #fa0276;
}
.activeLi{
	font-weight: bold;
	border-bottom: solid 2px #fa0276 ;
}

.title {
    color: #c29629;
    font-size: 40px;
}

.subtitle {
    color: #c29629;
    font-size: 26px;
}

.text {
    color: #c29629;
    font-size: 50px;
    width: 80%;
}

.menu {
    background: white;
    border: 1px solid #d8a7b8;
    width: 220px;
    text-align: center;
}

.menu img {
    width: 200px;
    height: auto;
}

.menu title {
    font-weight: bold;
    font-size: 20px;
    color
